#titre{
    margin-bottom: 30px;
}
article{
    margin: 5%;
}
tr{
    margin-top: 1%;
}
header{
    margin:auto;
    justify-content : center;
    display: flex;
}
#acc{
    display: flex;
    flex-direction: column;
}
select{
    min-width: 300px;
    margin-left: 5px;
}