<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Github-Ynov-Vue</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body onload="onload();">
    <h1 id="titre">Application Github Ynov</h1> 
    <div id="acc" class="container">
        <div class="row">
                <!--
                    <img src="images/logo.png" alt="logo de mon site" title="mon logo"/>
                -->
                            
                
                <div class="col-sm-10 col-md-5">Compte
                    <select class="form-control" v-model="selected_account">
                        <option v-for="account in accounts"> {{ account }} </option>
                    </select>
                </div>

                <div class="form-check col-sm-2 col-md-2">
                    <div>All</div>
                    <input type="checkbox" class="form-check-input" v-model="all">
                </div>
                
                <div class="col-sm-12 col-md-5">Projet
                    <select class="form-control" v-model="selected_project">
                        <option v-for="project in projects"> {{ project }} </option>
                    </select>
                </div>
                <!--
                    <div class="col-4">Période</div>
                -->
        </div>

        <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label for="example-date-input" class="col-form-label">Date min</label>
                        <input class="form-control" type="date" v-model="date1"  id="date1">
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="example-date-input" class="col-form-label">Date max</label>
                        <input class="form-control" type="date" v-model="date2"  id="date2">
                </div>
         </div>

        <header style="margin-top:20px">
            <button type="button" class="btn btn-primary" v-on:click="call">Primary</button>
        </header>

        
        <article>
            <div class="jumbotron" style="overflow:hidden">
                <section>
                    <h2 scope="row">Commits</h2>
                        <div>
                            <div class="border-top border-danger" v-for="object in objects">
                                    <div v-if="!all">{{object.author.name}} : {{ object.message }}  ({{object.author.date}}</div>
                                    <div v-if="all" v-for="commit in object"> - {{commit.author.name}} : {{ commit.message }}  ({{commit.author.date}}) 
                            </div>
                        </div>     
                </section>
            </div>
        </article>
    </div>
    
    
    <script src="https://unpkg.com/vue"></script>
    <script src="script/script.js"></script> 
</body>
</html>
