<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Github-Ynov-Vue</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body onload="onload();">
    <h1 id="titre">Application Github Ynov</h1> 
    <div id="acc">
        <header>
            
            <!--
                <img src="images/logo.png" alt="logo de mon site" title="mon logo"/>
            -->
                        
            
            <div class="col-6">Compte
                <select class="form-control" v-model="selected_account">
                    <option v-for="account in accounts"> {{ account }} </option>
                </select>
            </div>
            
            <div class="col-6">Projet
                <select class="form-control" v-model="selected_project">
                    <option v-for="project in projects"> {{ project }} </option>
                </select>
            </div>
            <!--
                <div class="col-4">Période</div>
            -->
            
        </header>
        
        <article>
            <div class="jumbotron" style="overflow:hidden">
                <section>
                    <h2 scope="row">Commits</h2>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <tr v-model="selected_commit">
                                    <option v-for="object in objects"> - {{object.author.name}} : {{ object.message }}  ({{object.author.date}}) </option>
                                </tr>
                            </tr>    
                        </tbody>
                    </table>        
                </section>
            </div>
        </article>
    </div>
    
    
    <script src="https://unpkg.com/vue"></script>
    <script src="script/script.js"></script> 
</body>
</html>
